<div id="docs-nav" class="fr w-100 w-30-l ph3 ph4-ns pb4">
  <h2 class="f6 normal ma0 pb2 mb2 bb b--black-10 black-50">Semaphore Docs</h2>
  <ul class="docs-nav list b pl0">
    <li class="docs-nav-home">
      <a href="/docs" class="link-reset db black-50 hover-black-80 pv1 pl4">Docs Home</a>
    </li>
    <li class="docs-nav-start">
      <a href="#" class="link-reset db black-50 hover-black-80 pv1 pl4 category-key">Getting Started</a>
      <%= partial("categories/getting_started") %>
    </li>
    <li class="docs-nav-language">
      <a href="#" class="link-reset db black-50 hover-black-80 pv1 pl4 category-key">Language Support</a>
      <%= partial("categories/language_support") %>
    </li>
    <li class="docs-nav-database">
      <a href="#" class="link-reset db black-50 hover-black-80 pv1 pl4 category-key">Database support</a>
      <%= partial("categories/database_support") %>
    </li>
    <li class="docs-nav-docker">
      <a href="#" class="link-reset db black-50 hover-black-80 pv1 pl4 category-key">Docker support</a>
      <%= partial("categories/docker_support") %>
    </li>
    <li class="docs-nav-platform">
      <a href="#" class="link-reset db black-50 hover-black-80 pv1 pl4 category-key">The Semaphore platform</a>
      <%= partial("categories/semaphore_platform") %>
    </li>
    <li class="docs-nav-git">
      <a href="#" class="link-reset db black-50 hover-black-80 pv1 pl4 category-key">Git Services</a>
      <%= partial("categories/git_services") %>
    </li>
    <li class="docs-nav-customize">
      <a href="#" class="link-reset db black-50 hover-black-80 pv1 pl4 category-key">Customizing your build</a>
      <%= partial("categories/build_customization") %>
    </li>
    <li class="docs-nav-adapting">
      <a href="#" class="link-reset db black-50 hover-black-80 pv1 pl4 category-key">Adapting Semaphore</a>
      <%= partial("categories/adapting_semaphore") %>
    </li>
    <li class="docs-nav-dependencies">
      <a href="#" class="link-reset db black-50 hover-black-80 pv1 pl4 category-key">Managing dependencies</a>
      <%= partial("categories/managing_dependencies") %>
    </li>
    <li class="docs-nav-troubleshooting">
      <a href="#" class="link-reset db black-50 hover-black-80 pv1 pl4 category-key">Build troubleshooting</a>
      <%= partial("categories/build_troubleshooting") %>
    </li>
    <li class="docs-nav-deploy">
      <a href="#" class="link-reset db black-50 hover-black-80 pv1 pl4 category-key">Deploying your application</a>
      <%= partial("categories/deployment") %>
    </li>
    <li class="docs-nav-insights">
      <a href="#" class="link-reset db black-50 hover-black-80 pv1 pl4 category-key">Insights</a>
      <%= partial("categories/insights") %>
    </li>
    <li class="docs-nav-collaboartion">
      <a href="#" class="link-reset db black-50 hover-black-80 pv1 pl4 category-key">Collaboration</a>
      <%= partial("categories/collaboration") %>
    </li>
    <li class="docs-nav-organisations">
      <a href="#" class="link-reset db black-50 hover-black-80 pv1 pl4 category-key">Organizations</a>
      <%= partial("categories/organizations") %>
    </li>
    <li class="docs-nav-twostep">
      <a href="#" class="link-reset db black-50 hover-black-80 pv1 pl4 category-key">Two-Step Verification</a>
      <%= partial("categories/two_step_verification") %>
    </li>
    <li class="docs-nav-notifications">
      <a href="#" class="link-reset db black-50 hover-black-80 pv1 pl4 category-key">Notifications</a>
      <%= partial("categories/notifications") %>
    </li>
    <li class="docs-nav-api">
      <a href="#" class="link-reset db black-50 hover-black-80 pv1 pl4 category-key">API</a>
      <%= partial("categories/api") %>
    </li>
    <li class="docs-nav-billing">
      <a href="#" class="link-reset db black-50 hover-black-80 pv1 pl4 category-key">Billing</a>
      <%= partial("categories/billing") %>
    </li>
  </ul>
</div>
