<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <% if content_for?(:title) %>
      <%= yield_content :title %>
    <% else %>
      <title>Semaphore Documentation</title>
    <% end %>

    <!-- Icons -->
    <link rel="shortcut icon" type="image/x-ico" href="/docs/assets/img/favicon.ico" />

    <!-- Bootstrap -->
    <link href="/docs/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles -->
    <link href="/docs/assets/css/styles.css" rel="stylesheet" />

    <script src="/docs/assets/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <script src="//use.typekit.net/huv6nfe.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>

  <body class="docs-new">

    <%= partial(:header) %>

    <% if content_for?(:page_illustration)%>
      <%= yield_content :page_illustration %>
    <% else %>
      <div class="page-illustration no-illustration">
      <% end %>

      <div class="container">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">

            <%= yield  %>

          </div>
        </div>
      </div>
    </div>


    <%= partial(:footer) %>

    <script src="/docs/assets/js/bootstrap.min.js"></script>

    <%= partial(:swiftype_search)%>

    <%= partial(:google_analytics)%>

    <%= partial(:crazy_egg)%>

  </body>
</html>
