<% wrap_layout :layout do  %>

  <% content_for :title do %>
    <title><%= current_page.data.title + " - Semaphore" %></title>
  <% end %>

  <article class="block-longform single-no-post-header">
    <hgroup class="page-header">
      <small>
        <span class="edit-link"><%= link_to_file_on_github(current_page) %></span>
        <%= link_to "Home","/docs" %> / <%= category_link(current_page.data.category) %> /
      </small>

      <h1><%= current_page.data.title %></h1>
    </hgroup>

    <title><%= current_page.data.title %></title>

    <%= yield %>

  </article>

<% end %>
